html,
    body,
    svg {
      position: fixed;
      width: 100%;
      margin: 0;
      background-color:#878d9b;
      overflow: hidden;
      color:white;
      font-family: 'Roboto Condensed', sans-serif !important;
    }

    body, html{
      height: 100vh;
    }

    svg{
      height: calc(100% - 35px);
      margin-top:35px;
    }

    body{
      /*background-image: url("assets/img/topography.png");*/
      background-repeat: repeat;
    }

    .land {
      fill: rgb(255, 255, 255);
      stroke-opacity: 1;
    }

    .countries path {
      /*stroke: rgba(15, 112, 52, .3);*/
      stroke-linejoin: round;
      stroke-width: .5;
      fill-opacity: 0.8;
    }

    .countries path:hover {
      stroke: rgba(0, 0, 0, .6);
      fill-opacity: .3 !important;
    }

    .countryTooltip {
      position: absolute;
      display: none;
      pointer-events: none;
      background:rgba(82, 87, 96,0.7);
      padding: 5px;
      text-align: left;
      border: solid #ccc 1px;
      color: #666;
      font-size: 14px;
      font-family: sans-serif;
      font-size:18px;
      font-family: 'Roboto Condensed', sans-serif;
      color:white;
    }

    .graticule {
      fill: none;
      stroke: black;
      stroke-width: .5;
      opacity: .2;
    }

    .map-label{
        font-family: 'Roboto Condensed', sans-serif !important;
        fill: black;
        pointer-events: none !important;
    }

    #city-label{
      opacity:0.5;
      font-size:9px;
    }

    #case-label{
        font-weight:bold;
        fill: rgba(0,0,0,1);
        opacity: 1 !important;
    }

    .noclicks {
      pointer-events: none;
    }

    .point {
      opacity: .6;
    }

    .conflict{
      pointer-events: none !important;
    }

    .point-study{
        stroke-width: 2;
        stroke: white;
        fill:black;
        opacity:1;
        background:white;
    }

    .arcs {
      opacity: .1;
      stroke: gray;
      stroke-width: 3;
      pointer-events: none !important;
    }

    .flyers {
      stroke-width: 1;
      opacity: .6;
      stroke: #ffff4d;
      pointer-events: none !important;
      
    }

    .arc,
    .flyer {
      stroke-linejoin: round;
      fill: none
    }

    .arc {}

    .flyer {}

    .flyer:hover {}
    /* Dropdown styling */
    button#but{
        width:200px;
        height:50px;
        font-size:22px;
        font-family: 'Roboto Condensed', sans-serif;
        font-variant: small-caps;
        background:white;
        display:block;
    }

    button#but:hover{
        background:lightgray;
    }
    
    .dropbtn {
      background-color: white;
      color: black;
      padding: 2px;
      padding-left:10px;
      font-size: 20px;
      width:90%;
      border: none;
      font-family: 'Roboto Condensed', sans-serif;
      border:black solid 2px;
      text-align:left;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      width:100%;
      position: relative;
      display: inline-block;
      left:0;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 90%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: 'Roboto Condensed', sans-serif;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
      text-decoration:none;
      color:black;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #f2f2f2;}
    /* Dropdown styling */

    /*HTML styling*/
  
    h1{
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom:0px;
        font-size:50px !important;
        text-align:center;
        margin-top: 10px !important;
        font-weight:400;
        color:white !important;
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-top:20px;
        font-weight:300;
        color:white;
    }
    h2{
        font-family: 'Roboto Condensed', sans-serif;
        font-size:26px;
        margin-bottom:5px;
        text-align:left;
        line-height:30px;
        font-weight:300;
        color:white !important;
    }
    div.legend{
        height:35px;
        margin-bottom:5px;
        border:#000000 solid 2px;
    }    
    div.legend_container{
        left:0;
        margin-top:0px;
        top:calc(100% + 180px);
        z-index:110;
        width:90%;
    }
    p.legend_label{
        font-size:18px;
        display:inline;
        text-align:left;
        position:relative;
        margin:0;
        margin-left:5px;
    }
    /*div#infoContainer{
      position:absolute;
      z-index:10;
      height:100%;
      width:300px;
      border-right:2px solid #666666;
    }*/
    div#infoPanel {
      margin-top:35px;
      z-index:10;
      height:100%;
      width:350px;
      position:absolute;
      top:0;
      left:0;
      background:rgba(82, 87, 96,0.7);
      border-right:2px solid #666666;
      padding:15px;
      overflow:hidden;
    }
    div#text{
        position:relative;
        height:calc(100% - 120px);
        left:5%;
    }
    div.topBar{
        position:absolute;
        height:40px;
        background:rgba(255,255,255,0);
        z-index:100;
        left:calc(50% - 85px);
    }
    img#ng{
      margin-top:3px;
      display:block;
      width:50px;
      margin:auto;
      filter: invert(100%);
    }
    div#projectionButtons{
        position:absolute;
        top:50px;
        right:0px;
        z-index:15;
        width:200px;
        height:50px;
    }
    div#projectionButtons button{
        padding:0;
        background:white;
        border:black 2px solid;

    }
    div#projectionButtons button:hover{
        background:#d9d9d9;
    }
    div.navBar{
      height:35px;
      width:100%;
      background:#525760;
      position:absolute;
      left:0;
      top:0;
      z-index:1000;
    }
    a.back{
      margin-left:10px;
      margin-top:3px;
      font-size:20px;
      font-weight:normal;
      position:absolute;
      color:white;
      letter-spacing: 1px;
    }
    a.back:hover{
      cursor:pointer;
      color:lightgray;
      text-decoration:none;
    }

    a.home{
      text-align:center;
      margin-top:3px;
      font-size:20px;
      font-weight:bold;
      position:absolute;
      color:white;
      font-variant: small-caps;
      left:3%;
    }
    a.home:hover{
      cursor:pointer;
      color:lightgray;
      text-decoration:none;
    }
    a.github{
      text-align:center;
      margin-top:3px;
      font-size:20px;
      font-weight:bold;
      position:absolute;
      color:white;
      font-variant: small-caps;
      right:1%;
      text-decoration:none;
    }
    a.github:hover{
      cursor:pointer;
      color:lightgray;
      text-decoration:none;
    }
    a.fb{
      text-align:center;
      margin-top:3px;
      font-size:20px;
      font-weight:bold;
      position:absolute;
      color:white;
      font-variant: small-caps;
      right:2.5%;
      text-decoration:none;
      }
  a.fb:hover{
      cursor:pointer;
      color:lightgray;
      text-decoration:none;
      }
  a.tw{
          text-align:center;
          margin-top:3px;
          font-size:20px;
          font-weight:bold;
          position:absolute;
          color:white;
          font-variant: small-caps;
          right:3.5%;
          text-decoration:none;
          }
  a.tw:hover{
          cursor:pointer;
          color:lightgray;
          text-decoration:none;
          }